<style>
	#close-modal-x {position: absolute; right: 10px; top: 10px; cursor: pointer}
</style>

<h2>Create a New Game</h2><img id="close-modal-x" src="images/close-modal-x.svg">
<input id="game-name-field" class="text-input" type="text" placeholder="Create a new game" />
<div id="invalid-name-message"></div>
boop

