:root {
	--square-width: 68px;
	--square-height: 66px;
}

/* Location squares */
.location {
	width: var(--square-width);
	height: var(--square-height);
	position: absolute;
	text-align: center;
	background-color: rgb(213, 232, 212);
	border: 2px #020 solid;
	cursor: pointer;
}
.walkway {
	background-color: rgb(213, 232, 212);
}
.location-highlighted {
	background-color: rgb(142, 193, 139);
}
.right {
	left: calc(10 * (var(--square-width) + 2px));
}
.top {}
.bottom {
	top: calc(10 * (var(--square-height) + 2px));
}
/* Walkways */
.vertical {
	position: absolute;
	width: 66.7%;
	height: var(--square-height);
	text-align: center;
	float: left;
}
.horizontal {
	position: absolute;
	width: var(--square-width);
	height: 66.7%;
	text-align: center;
	float: left;
}
.house-plot-left {
	position: absolute;
	right: 0;
	width: 33.3%;
}
.house-plot-left, .house-plot-right {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.house-plot-top {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 33.3%;
}
.placed-house {
	width: calc(var(--square-height) / 4);
	margin-bottom: -1px;
}
.placed-house-vertical {
	margin-left: 3px;
	display: block;
}

.chem-trail {
	width: 0;
	height: 0;
	border-radius: 50%;

	position: absolute;
	background-color: #08F;
	opacity: 0.8;
	left: 50%;
	top: 50%;
}

#jail {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(var(--square-width) * 2/3);
	height: calc(var(--square-height) * 2/3);
	background-image: url("/images/in-jail.svg");
	/* Add 1px to hide small right margin */
	background-size: calc(var(--square-width) * 2/3 + 1px) calc(var(--square-height) * 2/3);
}
#jail-vertical-walkway {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(var(--square-width) / 3); /* location.width - jail.width */
	height: var(--square-height);
}
#jail-horizontal-walkway {
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(var(--square-width) * 2/3); /* jail.width */
	height: calc(var(--square-height) / 3); /* location.height - jail.height */
}

.place-name {
	font-size: 12px;
	text-align: center;
}
.place-name-left, .place-name-right {
	writing-mode: vertical-rl;
}
.place-name-left {
	padding-right: 2px;
}
.place-name-right {
	position: absolute;
	padding-left: 4px;
}
.railroad-name {
	color: #eee;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 25%;
}