/* Location squares */
#board {
	position: absolute;
	width: 700px;
	height: 680px;
	top: 0;
	left: 0;
}
.location {
	width: 68px;
	height: 66px;
	position: absolute;
	text-align: center;
	background-color: rgb(213, 232, 212);
	border: 2px #020 solid;
	cursor: pointer;
}
.walkway {
	background-color: rgb(213, 232, 212);
}
.location-highlighted {
	background-color: rgb(142, 193, 139);
}
.left, .right {
	display: flex;
	align-items: center;
}
.right {
	left: 700px;
}
.top {}
.bottom {
	top: 680px;
}
/* Walkways */
.vertical {
	position: absolute;
	width: 66.7%;
	height: 66px;
	text-align: center;
	float: left;
}
.horizontal {
	position: absolute;
	width: 68px;
	height: 66.7%;
	text-align: center;
	float: left;
}
.house-plot-left {
	position: absolute;
	right: 0;
	width: 33.3%;
}
.house-plot-top {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.placed-house {
	width: 17px;
	margin-bottom: -1px;
}
.placed-house-vertical {
	margin-left: 3px;
	display: block;
}

#jail {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	background-image: url('/images/in-jail.svg');
	background-size: 44px 44px;
}
#jail-vertical-walkway {
	position: absolute;
	left: 0;
	width: 24px; /* location.width - jail.width */
	height: 66px;
}
#jail-horizontal-walkway {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 44px; /* jail.width */
	height: 22px; /* location.height - jail.height */
}