/* Player sprites */
.circ {
	float: left;
	width: 22px;
	height: 22px;
	display: block;
}
.circ:hover {
	background-color: #08F;
}

.house-icon {
	width: 20px;
	display: inline-block;
	line-height: 20px;
}
.house-button {
	height: 20px;
	width: 33px;
	display: inline-block;
	user-select: none;

	margin-left: 5px;
}
.house-plus-sign {
	color: black;
	font-size: 15px;
	font-weight: 600;

	position: relative;
	top: -6px;
	left: -3px;
}
.house-minus-sign, .mortgage-symbol {
	color: black;
	font-size: 15px;
	font-weight: 600;

	position: relative;
	top: -6px;
}

/* Location card */
.head {
	font-size: 20px;
	padding: 5px;
	background-color: #BBB;
	border-radius: 5px 5px 0 0;
	color: #333;
}
#price {
	padding-top: 5px;
}
#location-card {
	position: absolute;
	top: 200px;
	left: 540px;

	width: 225px;
	margin-left: -112px;
	text-align: center;
}
.owner-name-clickable {
	cursor: pointer;
	color: #08F;
}
.owner-name-clickable:hover {
	color: #2AF;
}

.use-jail-card {
	margin-left: 5px;
}

/* Player displays */
#heads {
	position: absolute;
	left: 772px;
	margin-left: 10px;
	top: 0;
	width: 400px;
}
.dashboard {
	height: 450px;
	background-color: rgb(213, 232, 212);
	overflow-y: scroll;
}
.player-display-head {
	font-size: 18px;
	background-color: #BBB;
	padding: 5px 10px;
	color: #333;
	cursor: pointer;
}
.dashboard-divider {
	background-color: rgb(68, 136, 204);
	height: 5px;
}
.display-sprite {
	height: 18px;
	margin-right: 5px;
}
.hud-property {
	padding: 5px 0;
	padding-left: 10px;
	cursor: pointer;
}
.hud-property:hover {
	background-color: rgb(213, 232, 212);
	filter: brightness(0.9);
}
.hud-property-name {
	margin-left: 8px;
}
.hud-property-color {
	height: 25px;
	width: 15px;
	display: inline-block;
}
.dashboard-jail-cards {
	padding-left: 10px;
}

/* Interactive message box */
.interactive {
	position: absolute;
	top: 250px;
	left: 240px;

	width: 250px;
	margin-left: -125px;
}

#message-box {
	overflow-y: auto;
	max-height: 400px;
}
