/* One visual flaw of CSS animations is that they are not interruptible.
 * Hovering off the card while they are growing causes them to jump to scale(1.2)
 * before they shrink.
 */
@keyframes grow-summary-tile {
	from {transform: scale(1);}
	to {transform: scale(1.2); filter: brightness(1.05);}
}
@keyframes shrink-summary-tile {
	from {transform: scale(1.2);; filter: brightness(1.05);}
	to {transform: scale(1);}
}

#game-name-field {display: inline-block;}
#invalid-name-message {font-size: 12px; height: 15px}
.highlight-invalid-message {color: red}

#full-page-overlay {
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}
#new-game-form-modal {
	z-index: 3;
	display: none;
	position: absolute;
	top: 100%;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	background-color: white;
	border-radius: 3px;
	padding: 10px;
}

#page-container {margin: 20px; margin-top: 30px;}
.text-input {padding: 5px; border: 3px #DDD solid; font-weight: bold;}
.link {text-decoration: none; color: black}

.game-summary-tile {
	float: left;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 250px;
	height: 200px;
	position: relative;
}
.game-summary-tile:hover {
	animation-name: grow-summary-tile;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.game-summary-tile-shrunken {
	animation-name: shrink-summary-tile;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.tile-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	pointer-events: none;
}
.player-donut-chart {padding-top: 10px; cursor: auto;}
