#page-container {margin: 30px; margin-top: 30px;}

/* One visual flaw of CSS animations is that they are not interruptible.
 * Hovering off the card while they are growing causes them to jump to scale(1.2)
 * before they shrink.
 */
@keyframes grow-summary-tile {
	from {transform: scale(1);}
	to {transform: scale(1.2); filter: brightness(1.05);}
}
@keyframes shrink-summary-tile {
	from {transform: scale(1.2);; filter: brightness(1.05);}
	to {transform: scale(1);}
}

#game-name-field {display: inline-block;}
#invalid-name-message {font-size: 12px; height: 15px}
.highlight-invalid-message {color: red}

.text-input {padding: 5px; border: 3px #DDD solid; font-weight: bold;}
.link {text-decoration: none; color: black}

.game-summary-tile {
	float: left;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 250px;
	height: 200px;
	position: relative;
}
.game-summary-tile:hover {
	animation-name: grow-summary-tile;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.game-summary-tile-shrunken {
	animation-name: shrink-summary-tile;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.tile-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	pointer-events: none;
}
.player-donut-chart {padding-top: 10px; cursor: auto;}

@keyframes grow-toast {
	from {transform: scale(0);}
	to {transform: scale(1);}
}
@keyframes shrink-toast {
	from {transform: scale(1);}
	to {transform: scale(0);}
}

.toast {
	background-color: #333;
	color: white;
	position: absolute;
	top: 50px;
	width: 500px;
	left: 50%;
	margin-left: -250px;

	padding: 5px;
	border-radius: 5px;
	text-align: center;
	opacity: 0.95;

	animation-name: grow-toast;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.toast:hover {
	background-color: black;
}

.toast-hidden {
	animation-name: shrink-toast;
	animation-duration: 1s;
}

.toast-close-button {
	cursor: pointer;
	float: right;
	padding-right: 5px;
	padding-left: 5px;
	border-left: 1px solid white;
}
.toast-close-button:hover {
	color: #08F;
	transform: scale(1.5);
}