.form-modal {
	width: 80%;
	height: 80%;
	margin-left: -40%;
	margin-top: -2%;

	display: grid;
	grid-template-columns: 20% auto 24px;
	grid-template-rows: 24px 20% auto;
}
.modal-header {
	margin-bottom: 0;
	grid-row: 1;
	grid-column: 3;
}

#trade-offer-picker {
	background-color: #D6D6D6;
	width: 150px;
	padding: 10px;

	grid-row: 1 / span 3;
}

.trade-offer-player-name {
	margin-top: 10px;
}

.trade-offer-name {
	padding-left: 20px;
	color: #AAA;
}
.trade-offer-name:hover{
	color: black;
	cursor: pointer;
}
.trade-offer-name.selected {
	color: black;
}

.label {
	color: #AAA;
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}