.form-modal {
	width: 80%;
	height: 80%;
	margin-left: -40%;
	margin-top: -2%;

	display: grid;
	grid-template-columns: 20% auto 24px;
	grid-template-rows: 24px 20% auto;
}
.modal-header {
	margin-bottom: 0;
	grid-row: 1;
	grid-column: 3;
}

#trade-offer-picker {
	background-color: #D6D6D6;
	width: 150px;
	padding: 10px;

	grid-row: 1 / span 3;
}

.trade-offer-player-name {
	margin-top: 10px;
}

.trade-offer-name {
	padding-left: 20px;
	color: #AAA;
}
.trade-offer-name:hover{
	color: black;
	cursor: pointer;
}
.trade-offer-name.selected {
	color: black;
}

.label {
	color: #AAA;
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#property-list-container {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: 28px 4px auto;
	justify-content: space-evenly;
	/* Prevents long property lists from vertically overflowing the grid.
	See: https://css-tricks.com/preventing-a-grid-blowout/ */
	min-height: 0;
}
.property-list-header {
	background-color: black;
	color: white;
	padding: 5px 0;
	text-align: center;
	grid-row: 1;
}
.property-list-underbar {
	background-color: #08F;
	grid-row: 2;
}
.property-list {
	background-color: #D6D6D6;
	padding: 5px;
	grid-row: 3;
	overflow-y: auto;/* Scrollbar */
}
.offer-property {
	padding: 5px;
}
.clickable {
	cursor: pointer;
}
.offer-property-color {
	width: 17px;
	height: 7px;
	border: 4px solid;

	margin-right: 5px;
	margin-bottom: -1px;/* Bring down a bit to better align with neighboring text */
}
.deselected-property-name {
	color: #AAA;
}
.deselected-property-name:hover {
	color: black;
}
.trade-mortgage-status {
	float: right;
	margin-top: 3px;

	color: #9E0000;/* Deep red */
	font-size: 10px;
	font-weight: bold;
}
.trade-house-count {
	float: right;
}
.trade-house-count > .placed-house {
	margin-bottom: -2px;
}