body {
    background-size: cover;
    font-size: 15px;
    color: black;
    font-family: Verdana;
}

#board {
    position: absolute;
    width: 700px;
    height: 680px;
    top: 0;
    left: 0;
}
.location {
    width: 68px;
    height: 66px;
    position: absolute;
    text-align: center;
    background-color: rgb(213, 232, 212);
    border: 2px #020 solid;
    cursor: pointer;
}
.walkway {
    background-color: rgb(213, 232, 212);
}
.location-highlighted {
    background-color: rgb(142, 193, 139);
}

/* Player sprites */
.circ {
    float: left;
    width: 22px;
    height: 22px;
    display: block;
}
.circ:hover {
    background-color: #08F;
}

.placed-house {
    width: 17px;
}

.dashboard {
    height: 450px;
    background-color: rgb(213, 232, 212);
}
.house-icon {
    width: 20px;
    display: inline-block;
    line-height: 20px;
}
.house-button {
    height: 20px;
    width: 33px;
    display: inline-block;
    user-select: none;

    margin-left: 5px;
}
.house-plus-sign {
    color: black;
    font-size: 15px;
    font-weight: 600;

    position: relative;
    top: -6px;
    left: -3px;
}
.house-minus-sign, .mortgage-symbol {
    color: black;
    font-size: 15px;
    font-weight: 600;

    position: relative;
    top: -6px;
}

/* Display card header */
.head {
    font-size: 24px;
    background-color: #BBB;
    border-radius: 5px 5px 0 0;
    color: #333;
}

/* General buttons */
.button {
    font-size: 15px;
    background-color: #08C;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.button:hover {
    filter: saturate(125%);
}
.button:active {
    /*background-color: #E80;*/
    filter: saturate(75%);
}

.button-negative {
    font-size: 15px;
    background-color: #E63;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.button-negative:hover {
    filter: saturate(125%);
}
.button-negative:active {
    filter: saturate(75%);
}

.button-disabled {
    filter: saturate(0%);
    cursor: not-allowed;
}
.button-disabled:hover {
    filter: saturate(0%);
}
.button-disabled:active {
    filter: saturate(0%);
}

/* Location squares */
.left {}
.right {
    left: 700px;
}
.top {}
.bottom {
    top: 680px;
}
/* Walkways */
.vertical {
    position: absolute;
    width: 66.7%;
    height: 66px;
    text-align: center;
    float: left;
}
.horizontal {
    position: absolute;
    width: 68px;
    height: 66.7%;
    text-align: center;
    float: left;
}

/* Player displays */
#heads {
    position: absolute;
    left: 772px;
    margin-left: 10px;
    top: 0;
    width: 400px;
}
.player-display-head {
    font-size: 18px;
    background-color: #BBB;
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
}
.display-sprite {
    height: 18px;
    margin-right: 5px;
}

.interactive {
    position: absolute;
    top: 250px;
    left: 240px;

    width: 250px;
    margin-left: -125px;
}

#interactive {
    display: none;
}

#message-box {
    overflow-y: auto;
    max-height: 400px;
}

#location-card {
    position: absolute;
    top: 270px;
    left: 540px;

    width: 225px;
    margin-left: -112px;
    text-align: center;
    display: none;
}
