<!DOCTYPE html>
<html><head><title>Monopoly Game</title></head>

<body style="font-family: Verdana;">
<center style="margin-top: 45vh">
	<h1>404: Page Not Found</h1>
	<a href="/">Return to home</a>
</center>
</body>