<!DOCTYPE html>
<html><head><title>Monopoly Game</title>
<link href="/stylesheets/shared.css" rel="stylesheet"></link>
<link href="/stylesheets/main.css" rel="stylesheet"></link>
</head>
<body>
<%- include("../partials/game") %>

<script type="module">
	import {initializeGame} from "/javascripts/event-handlers.js";

	const secretKey = "<%= secretKey %>";
	window.secretKey = secretKey;
	initializeGame(secretKey);
</script>
</body></html>