<!DOCTYPE html>
<html><head><title>Monopoly Game</title>
<link href="/stylesheets/shared.css" rel="stylesheet"></link>
<link href="/stylesheets/board.css" rel="stylesheet"></link>
<link href="/stylesheets/gameplay.css" rel="stylesheet"></link>
<link href="/stylesheets/modal.css" rel="stylesheet"></link>
<link href="/stylesheets/trade-editor.css" rel="stylesheet"></link>
</head>
<body style="/*overflow-x: hidden;*/">


<div id="react"></div>

<!-- Load React. -->
<!-- <script src="https://unpkg.com/react@18.2.0/umd/react.development.js" crossorigin></script> -->
<!-- <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js" crossorigin></script> -->
<!-- <script src="https://unpkg.com/prop-types@15.8.1/prop-types.js" crossorigin></script> -->
<script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/prop-types@15.8.1/prop-types.min.js" crossorigin></script>

<script src="/socket.io/socket.io.js"></script>

<script type="module">
	import {render} from "/javascripts/gameplay/gameplay-page.js";
	render(<%- JSON.stringify({gameId}) %>, document.querySelector("#react"));
</script>
</body></html>