<!DOCTYPE html>
<html><head><title>Monopoly Game</title>
<link href="stylesheets/main.css" rel="stylesheet"></link>
</head>

<body>

<!-- Game board -->
<div id="board"></div>

<!-- Fill center of board. -->
<!-- <div style="position:absolute;right:5%;width:45%;top:9%;height:81%;background-color:#AAA"></div> -->

<!-- Property description card -->
<div id="location-card">
<div class="head" id="propname"></div>
<center style="background-color:rgb(213,232,212)">
    <div id="tax-info"></div>
    <div id="rent-table">
        <div id="price"></div>
        <div id="owner-name"></div>
        <br />
        <table>
            <tr id="rent0"></tr>
            <tr id="rent1"></tr>
            <tr id="rent2"></tr>
            <tr id="rent3"></tr>
            <tr id="rent4"></tr>
            <tr id="rent5"></tr>
        </table>
        <br id="mortgage-margin" />
        <div id="mortgage-value"></div>
        <div id="price-per-house"></div>
    </div>
    <div class="button-negative" onclick="hideLocationCard()">Close</div>
</center>
</div>


<div id="initial-interactive" class="interactive">
    <span id="initial-turn"></span> will go first.
    <div class="button" onclick="executeTurn()">Start Game</div>
</div>

<div id="interactive" class="interactive">
    <div id="message-box">
    </div>
    <div id="button-box">
    </div>
    <div class="button" onclick="executeTurn()" id="execute-next-turn" style="display:none">End Turn</div>
    <!-- <br /> -->
    <!-- <div class="button" onclick="transaction()">Side Transaction</div> -->
</div>

<!-- Player HUDs -->
<div id="heads"></div>

<script src="javascripts/third-party/jquery.js"></script>
<script type="module" src="javascripts/display-card.js"></script>
<script type="module" src="javascripts/execute-turn.js"></script>
<script type="module" src="javascripts/startup.js"></script>
<script type="module">
import {executeTurn, respondToBuyOffer, respondPayOutOfJail} from "/javascripts/execute-turn.js";
window.executeTurn = executeTurn;
window.respondToBuyOffer = respondToBuyOffer;
window.respondPayOutOfJail = respondPayOutOfJail;

import {startUp} from "/javascripts/startup.js";
startUp();

import {hideLocationCard} from "/javascripts/display-card.js";
window.hideLocationCard = hideLocationCard;
</script>

</body></html>