<!DOCTYPE html>
<html><head><title>Monopoly Game</title>
<link href="/stylesheets/shared.css" rel="stylesheet"></link>
</head>
<body>

<!-- TODO: List games -->
Admin: <%= adminId %>
<br />
Game: <%= gameName %>
<br />
Created: <%= new Date(gameCreateTime) %>
</body></html>